[Unit]
Description={{ binary }} service. Automatically launches the IDA debug server on boot.
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/vagrant/dbgsrv/{{ binary }} {{ optional_args }}

[Install]
WantedBy=multi-user.target